{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}タスク入力画面{% endblock %}

{% block content %}
<main>
    <div class='container w-50'>
      <form method="POST">
            <input class="form-control mb-3" type="text" placeholder="タスクのタイトル" name="title">
            <textarea class="form-control mb-3" name="detail" placeholder="タスクの詳細" id="" rows="5"></textarea>
            <label class="form-label" for="due">終了予定日</label>
            <input class="form-control mb-5" type="date" name="end_time" required>
            <button type="submit" class="btn btn-primary form-control w-25">作成</button>
            <a href="/user" role="button" class="btn btn-outline-primary">戻る</a></button>
        </form>  
    </div>
</main>
{% endblock content %}
