{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}
{% block title %}ホーム画面{% endblock %}
{% block content %}
<main>
    <div style="height: 200px"></div>
    <div class="text-center">
        {% if current_user.is_authenticated %}
            <h2 class="text-success fs-4 mb-4">ようこそ！{{ current_user.username }}さん</h2>
        {% else %}
            <h2 class="fs-4 mb-4 tf-bold">ログイン or ユーザー登録をしてください</h2>
            <form>
                <div class="container flex-column">
                    <div><a href="{{ url_for('todo_app.login') }}" class="btn btn-primary w-25 mb-4" role="button">ログイン</a></div>
                    <div> <a href="{{ url_for('todo_app.register') }}" class="btn btn-outline-primary w-25" role="button">新規ユーザー登録</a></div>
                </div>
            </form>
        {% endif %}
    </div>
</main>
{% endblock content %}
